<style>
    .logo img {
        height: 100px !important;
    }

    .marqee-horizontal a {
        margin: 0 28px;
        color: #ffffff;
        cursor: pointer;
    }

    .marqee-horizontal {
        background: #1a5243;
    }

    .marqee-horizontal>div {
        padding: 6px 0;
    }

 .has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
</style>

<!-- <div class="tcontainer">
    <div class="ticker-wrap">
      <div class="ticker-move">
        <div class="ticker-item" *ngFor="let latestNews of homeService.latestNewsList">
            <a href="{{latestNews.Link}}" target="_blank"><i class="fa fa-forward" aria-hidden="true"></i> {{latestNews.Title}}</a></div>
      </div>
    </div>
  </div> -->


<!-- <router-outlet></router-outlet> -->
<div >
    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="topbar">
                <div class="content-topbar container h-100">
                    <div class="left-topbar">
                        <span class="left-topbar-item flex-wr-s-c">
                            <!-- <span>
                                India, TN
                            </span> -->

                        </span>

                        <!-- <a routerLink="/" class="left-topbar-item" (click)="gotobottom()">
                            About
                        </a>

                        <a routerLink="/" class="left-topbar-item" (click)="gotobottom()">
                            Contact
                        </a>
                        <a routerLink="/careers" class="left-topbar-item" >
                            Careers
                        </a> -->
                    </div>                     
                    <div class="input-group" style="width: 60%">
                        <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Search Here..">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" style="border-radius:0;" (click)="NavigateToSearch()" >
                                <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div> 

                    <div class="right-topbar">
                       
                        <a href="https://www.facebook.com/One-Bharath-News-389976705062474/" target="_blank">
                            <span class="fab fa-facebook-f SetPadding"></span>
                        </a>
                        <a href="https://twitter.com/news_bharath?s=08" target="_blank">
                            <span class="fab fa-twitter SetPadding"></span>
                        </a> 
                        <a  href="https://www.instagram.com/onebharath_news/" target="_blank">
                            <span class="fab fa-instagram SetPadding"></span>
                        </a>
                        <a  href="https://www.youtube.com/channel/UCHKaqrWBHvBdS7dgpjpz5lg" target="_blank">
                            <span class="fab fa-youtube SetPadding"></span>
                        </a>
                    </div>
                </div>
            </div>


            
    <nav class="navbar navbar-light light-blue lighten-4 wrap-header-mobile" style="padding:0">
            <a class="navbar-brand logo-mobile" href="/"><img src="assets/newslogo.png" alt="IMG-LOGO"></a>

            <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
              aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="dark-blue-text"><i
                  class="fas fa-bars fa-1x"></i></span>
                </button>
          
            <div class="collapse navbar-collapse"  id="navbarSupportedContent1">         
                    <!-- <ul class="topbar-mobile">
                        <li class="left-topbar">
                            <span class="left-topbar-item flex-wr-s-c">
                                <span>
                                    India, TN
                                </span>
                            </span>
                        </li>
        
                        <li class="left-topbar">
                                <a routerLink="/" class="left-topbar-item" (click)="gotobottom()">
                            About
                        </a>

                        <a routerLink="/" class="left-topbar-item" (click)="gotobottom()">
                            Contact
                        </a>

                        <a routerLink="/careers" class="left-topbar-item">
                            Careers
                        </a>
                            </li>

                            <form class = "tp-form">
                                    <mat-form-field class ="tp-full-width">
                                       <input type = "text" matInput style="background: white;padding: 8px;" 
                                          [formControl] = "searchTerm" 
                                          [matAutocomplete] = "auto">
                                       <mat-autocomplete #auto = "matAutocomplete">
                                          <mat-option *ngFor = "let news of NewsList" [value] = "news.NewsHeadLine" (click)="NavigateDesc(news.NewsId)">
                                             {{news.NewsHeadLine}}
                                          </mat-option>
                                       </mat-autocomplete>
                                    </mat-form-field>
                                </form>

                            <li class="right-topbar">
                                    <a href="https://www.facebook.com/One-Bharath-News-389976705062474/" target="_blank">
                                        <span class="fab fa-facebook-f SetPadding"></span>
                                    </a> 
                                    <a href="https://twitter.com/news_bharath?s=08" target="_blank">
                                        <span class="fab fa-twitter SetPadding"></span>
                                    </a> 
                                    <a  href="https://www.instagram.com/onebharath_news/" target="_blank">
                                        <span class="fab fa-instagram SetPadding"></span>
                                    </a>
                                    <a  href="https://www.youtube.com/channel/UCHKaqrWBHvBdS7dgpjpz5lg" target="_blank">
                                        <span class="fab fa-youtube"></span>
                                    </a>
                            </li>
                        </ul> -->
        
                        <ul class="main-menu-m">
                                <li>
                            <div > 
                                    <div class="input-group">
                                            <input type="text" class="form-control" [(ngModel)]="searchString" placeholder="Search Here..">
                                                <div class="input-group-append">
                                                    <button class="btn btn-secondary" type="button" style="border-radius:0;" (click)="NavigateToSearch()" >
                                                    <i class="fa fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>  
                                    <!-- <form >
                                        <mat-form-field class ="tp-full-width">
                                            <input type = "text" matInput style="background: white;padding: 8px;" 
                                                [formControl] = "searchTerm1" 
                                                [matAutocomplete] = "auto">
                                                    <mat-autocomplete #auto = "matAutocomplete">
                                                <mat-option *ngFor = "let news of NewsList" [value] = "news.NewsHeadLine" (click)="NavigateDesc(news.NewsId)">
                                                    {{news.NewsHeadLine}}
                                                </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </form> -->
                                    </div>
                                </li>
                            <li>
                                <a class="CursorPointer" (click)=ClosePopup() routerLink="/home">Home</a>
                            </li>
                            <li>
                                <a class="CursorPointer" (click)=ClosePopup() routerLink="/home">National</a>
                            </li>
                           
                            <li *ngFor="let category of categoryList;">
                                    <a class="CursorPointer" [routerLink]="['/news-category']" [queryParams]="{categoryId: category.CategoryId}" (click)=ClosePopup()>{{category.CategoryName}}</a>
                                    <ul class="sub-menu-m" *ngIf="category.Toggle">
                                        <li *ngFor="let subcategory of category.SubCategoryJson;">
                                            <a [routerLink]="['/news-subcategory']" [queryParams]="{subcategoryId: subcategory.SubCategoryId}" (click)=ClosePopup()>{{subcategory.SubCategoryName}}</a>
                                        </li>
                                    </ul>
                                    <span class="arrow-main-menu-m">
                                        <i [ngClass]="category.Toggle ? 'fa fa-angle-down' : 'fa fa-angle-right'"  (click)="category.Toggle = !category.Toggle;"></i>
                                    </span>                                   
                            </li>
                        </ul>
            </div>         
          </nav>

            <div class="menu-mobile">
                <ul class="topbar-mobile">
                    <li class="left-topbar">
                        <span class="left-topbar-item flex-wr-s-c">
                            <span>
                                India, TN..
                            </span>

                            <img class="m-b-1 m-rl-8" src="assets/images/icons/icon-night.png" alt="IMG">

                            <span>
                                HI 58° LO 56°
                            </span>
                        </span>
                    </li>

                    <li class="left-topbar">
                        <a routerLink="/" class="left-topbar-item">
                            About
                        </a>

                        <a routerLink="/" class="left-topbar-item">
                            Contact
                        </a>
                       
                    </li>

                   

                    <li class="right-topbar">
                        <a>
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a routerLink="/">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a routerLink="/">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a routerLink="/">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a routerLink="/">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>

                <ul class="main-menu-m">
                    <li>
                        <a routerLink="/">Home</a>
                        <ul class="sub-menu-m">
                            <li><a routerLink="/">Homepage v1</a></li>
                            <li><a routerLink="/">Homepage v2</a></li>
                            <li><a routerLink="/">Homepage v3</a></li>
                        </ul>

                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </span>
                    </li>

                    <li>
                        <a routerLink="/">News</a>
                    </li>

                    <li>
                        <a routerLink="/">Entertainment </a>
                    </li>

                    <li>
                        <a routerLink="/">Business</a>
                    </li>

                    <li>
                        <a routerLink="/">Travel</a>
                    </li>

                    <li>
                        <a routerLink="/">Life Style</a>
                    </li>

                    <li>
                        <a routerLink="/">Video</a>
                    </li>

                    <li>
                        <a href="#">Features</a>
                        <ul class="sub-menu-m">
                            <li><a routerLink="/">Category Page v1</a></li>
                            <li><a routerLink="/">Category Page v2</a></li>
                            <li><a routerLink="/">Blog Grid Sidebar</a></li>
                            <li><a routerLink="/">Blog List Sidebar v1</a></li>
                            <li><a routerLink="/">Blog List Sidebar v2</a></li>
                            <li><a routerLink="/">Blog Detail Sidebar</a></li>
                            <li><a routerLink="/">Blog Detail No Sidebar</a></li>
                            <li><a routerLink="/">About Us</a></li>
                            <li><a routerLink="/">Contact Us</a></li>
                        </ul>

                        <span class="arrow-main-menu-m">
                            <i class="fa fa-angle-right"  ></i>
                        </span>
                        <!-- aria-hidden="true" -->
                    </li>
                </ul>
            </div>

            <!--  -->
            <div class="wrap-logo container">
                <!-- Logo desktop -->
                <div class="logo">
                    <a class="CursorPointer" (click)="ReloadApp();"><img src="assets/newsLogo2.png" alt="LOGO"></a>
                </div>
                
                <!-- onclick="fbs_click(this)" -->
                <!-- Banner -->
                <div class="banner-header">
                    <a *ngFor="let add of homeService.advertisementList">
                        <a *ngIf="add.Name == 'one'" href="{{add.Link}}" target="_blank" style="cursor: pointer;"><img
                            src="{{imageUrlPath+ 'common/' + add.ImagePath}}" alt="IMG"
                            style="height:100px;max-width: 100%;"></a>
                    </a>
                </div>
            </div>

            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">
                        <a class="logo-stick CursorPointer">
                            <img src="assets/images/icons/logo-01.png" alt="LOGO">
                        </a>
                       
                        <ul class="main-menu">
                            <li><a class="CursorPointer" (click)="ReloadApp()">Home</a> </li>
                            <li><a class="CursorPointer" [routerLink]="['/news-category']"
                                [queryParams]="{categoryId: 'national'}">National</a> </li>

                            <li class="mega-menu-item dropdownMenuIcon" *ngFor="let category of categoryList">
                                <a class="CursorPointer" [routerLink]="['/news-category']"
                                    [queryParams]="{categoryId: category.CategoryId}">{{category.CategoryName}}</a>
                                <!-- [routerLink]="['/news-details?newsId='+subcategory.News[0].newsId]" -->
                                <div class="sub-mega-menu" *ngIf="category.CategoryName != 'National'">
                                    <div class="nav flex-column nav-pills" role="tablist">
                                        <a class="nav-link active" data-toggle="pill" href="#{{category.CategoryId}}"
                                            role="tab">All</a>
                                        <!--  [routerLink]="['/news-subcategory']"
                                            [queryParams]="{subcategoryId: subcategory.SubCategoryId}"  -->
                                        <a *ngFor="let subcategory of category.SubCategoryJson" class="nav-link"
                                            data-toggle="pill" (click)="gotoSubcategory(subcategory)"
                                            href="#{{subcategory.SubCategoryId}}"
                                            role="tab">{{subcategory.SubCategoryName}}</a>
                                    </div>

                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="{{category.CategoryId}}" role="tabpanel">
                                            <div class="row">
                                                <div class="col-3"
                                                    *ngFor="let subcategory of category.SubCategoryJson | slice:0:4">
                                                    <!-- Item post -->
                                                    <div *ngIf="subcategory.News">
                                                        <a class="wrap-pic-w hov1 trans-03"
                                                            (click)="goProducts(subcategory.News[0].newsId)"
                                                            [routerLink]="['/news-details?newsId='+subcategory.News[0].newsId]">
                                                            <img src="{{imageUrl + subcategory.News[0].Newsthump}}"
                                                                alt="IMG" style="max-height: 120px;max-width:100%;">
                                                        </a>

                                                        <div class="p-t-10">
                                                            <h5 class="p-b-5">
                                                                <a (click)="goProducts(subcategory.News[0].newsId)"
                                                                    class="f1-s-5 cl3 hov-cl10 trans-03"
                                                                    [routerLink]="['/news-details?newsId='+subcategory.News[0].newsId]">
                                                                    <!-- <p [innerHTML]="subcategory.News[0].NewsHeadLine"></p> -->
                                                                    {{subcategory.News[0].NewsHeadLine}}
                                                                </a>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="category.SubCategoryJson">
                                                <div class="col-12" *ngIf="category.SubCategoryJson.lenght > 4">
                                                    <a class="f1-s-5 cl3 hov-cl10 trans-03"
                                                        [routerLink]="['/news-category']"
                                                        [queryParams]="{categoryId: category.CategoryId}"
                                                        style="float:right;cursor:pointer;margin-top: 10px;">View
                                                        All</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngFor="let subcategory of category.SubCategoryJson" class="tab-pane"
                                            id="{{subcategory.SubCategoryId}}" role="tabpanel">
                                            <div class="row">
                                                <div class="col-3" *ngFor="let news of subcategory.News | slice:0:4">
                                                    <!-- Item post -->
                                                    <div>
                                                        <a (click)="goProducts(news.newsId)"
                                                            class="wrap-pic-w hov1 trans-03"
                                                            [routerLink]="['/news-details?newsId='+news.newsId]">
                                                            <!-- <img src="assets/New/images/post-50.jpg" alt="IMG"> -->
                                                            <img src="{{imageUrl + news.Newsthump}}" alt="IMG"
                                                                style="max-height: 120px;max-width:100%;">
                                                        </a>

                                                        <div class="p-t-10">
                                                            <h5 class="p-b-5">
                                                                <a (click)="goProducts(news.newsId)"
                                                                    class="f1-s-5 cl3 hov-cl10 trans-03"
                                                                    [routerLink]="['/news-details?newsId='+news.newsId]">
                                                                    <!-- <p *ngIf="news" [innerHTML]="news.NewsHeadLine"></p> -->
                                                                    {{news.NewsHeadLine}}
                                                                </a>
                                                            </h5>

                                                            <!-- <span class="cl8">
                                                               <span class="f1-s-3">
                                                                 {{news.Date}}
                                                               </span>
                                                           </span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" *ngIf="subcategory.News">
                                                <div class="col-12" *ngIf="subcategory.News.length > 4">
                                                    <a class="f1-s-5 cl3 hov-cl10 trans-03"
                                                        [routerLink]="['/news-subcategory']"
                                                        [queryParams]="{subcategoryId: subcategory.SubCategoryId}"
                                                        style="float:right;cursor:pointer;margin-top: 10px;">View
                                                        All</a>
                                                </div>
                                            </div>
                                            <!-- <div class="row" *ngIf="subcategory.News">
                                                <div class="col-12" *ngIf="subcategory.News.length > 4"><a class="f1-s-5 cl3 hov-cl10 trans-03">View All</a></div>
                                           </div> -->
                                        </div>
                                    </div>
                                </div>
                            </li> 
                        </ul>                         
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- <div class="tcontainer">
        <div class="ticker-wrap">
            <div class="ticker-move">
                <div class="ticker-item" *ngFor="let latestNews of homeService.latestNewsList">
                    <a href="{{latestNews.Link}}" target="_blank"><i class="fa fa-forward" aria-hidden="true"></i>
                        {{latestNews.Title}}</a></div>

            </div>

        </div>
    </div> -->

    <marquee class="marqee-horizontal" behavior="scroll" direction="left" onmouseover="this.stop();"
        onmouseout="this.start();">
        <div>
            <span *ngFor="let scrollNews of homeService.scrollNews">
                <a [routerLink]="['/news-description']" [queryParams]="{newsId: scrollNews.NewsId}" target="_blank">
                    <i class="fa fa-forward" aria-hidden="true"></i> {{scrollNews.HeadLine}}
                </a>
            </span>
        </div>
    </marquee>

    <!-- Headline -->
    <div class="container">
        <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
            <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">



                <!-- <marquee class="scroll-text">
                       <div >
                            <div class="ticker-item"><i class="fa fa-forward" aria-hidden="true"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>

                       </div>
                    </marquee> -->



                <!-- <span class="text-uppercase cl2 p-r-8">
                   Trending Now:
               </span>

               <span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
                   <span class="dis-inline-block slide100-txt-item animated visible-false">
                       Interest rate angst trips up US equity bull market
                   </span>

                   <span class="dis-inline-block slide100-txt-item animated visible-false">
                       Designer fashion show kicks off Variety Week
                   </span>

                   <span class="dis-inline-block slide100-txt-item animated visible-false">
                       Microsoft quisque at ipsum vel orci eleifend ultrices
                   </span>
               </span> -->
            </div>

            <!-- <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-6">
               <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Search">
               <button class="flex-c-c size-a-1 ab-t-r fs-20 cl2 hov-cl10 trans-03">
                   <i class="zmdi zmdi-search"></i>
               </button>
           </div> -->
        </div>
    </div>


    <router-outlet></router-outlet>

    <!-- <app-home></app-home> -->
    <!-- Footer -->
    <footer>
        
        <div class="bg2 p-t-40 p-b-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <a routerLink="/">
                                <img class="max-s-full" src="assets/newsLogo2.png" alt="LOGO" style="height: 100px;">
                            </a>
                        </div>

                        <!-- <div class="SetPaddingTop">
                            <div class="p-t-15">
                                <a href="https://www.facebook.com/One-Bharath-News-389976705062474/" target="_blank" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-facebook-f SetPadding"></span>
                                </a>

                                <a href="https://twitter.com/news_bharath?s=08" target="_blank" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-twitter SetPadding"></span>
                                </a> 

                                <a href="https://www.instagram.com/onebharath_news/" target="_blank" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-instagram SetPadding"></span>
                                </a>

                                <a href="https://www.youtube.com/channel/UCHKaqrWBHvBdS7dgpjpz5lg" target="_blank" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-youtube SetPadding"></span>
                                </a>
                            </div>
                        </div> -->
                        <div class="SetPaddingTop" id="accordion">
                                <div class="bg2 how-bor1 p-rl-5 p-tb-10">
                                  <div id="headingOne">
                                    <h5 class="mb-0">
                                      <button class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                       About Us
                                      </button>
                                    </h5>
                                  </div>
                              
                                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="wheat">

                                        One Bharath News brings you a daily connect with India's leading news,
                                        columns, coverage and many more. One Bharath News also provides the readers
                                        and viewers a digital experience with refreshed and accurate "Infotaiment" across the
                                        Nation.
                                    </div>
                                  </div>
                                </div>
                                <div class="bg2 how-bor1 p-rl-5 p-tb-10">
                                  <div id="headingTwo">
                                    <h5 class="mb-0">
                                      <button class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Contact Us
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="wheat">
                                            2nd floor, B block, Romar House<br/>
                                            Jaganathan Road, Nungambakkam,<br/>
                                            Chennai-34.<br/>
                                            Email - info@onebharathnews.com
                                    </div>
                                  </div>
                                </div>
                                <div class="bg2 how-bor1 p-rl-5 p-tb-10">
                                  <div id="headingThree">
                                    <h5 class="mb-0">
                                      <button class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Careers
                                      </button>
                                    </h5>
                                  </div>
                                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div>
                                     
                                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                                
                                        <div class="form-group">
                                            <label class="wheat" for="Name">Name:</label>
                                            <input class="form-control" id="Name" formControlName="Name" name="Name" />
                                        </div>
                                        <div class="form-group">
                                            <label class="wheat" for="description">Description:</label>
                                            <textarea class="form-control" rows="5" id="description" formControlName="description" name="description"></textarea>
                                        </div>
                                        <div class="form-group" style="overflow: hidden">
                                            <label class="btn btn-primary" for="my-file-selector">
                                                <input type="file" name="uploadedfile" (change)="onFileChange($event)" />
                                            </label>
                                        </div>
                                        <button class="btn btn-success" type="submit">Upload</button>
                                        <div style="margin: 20px"></div>
                                        </form>                                     
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                              
                            </h5>
                        </div>

                        <!-- <ul>
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                    <a routerLink="/" class="f1-s-5 cl11 hov-cl10 trans-03" (click)="gotobottom()">About</a>
                                    
                                </li>
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                    <a routerLink="/" class="f1-s-5 cl11 hov-cl10 trans-03" (click)="gotobottom()">Contact</a>
                                </li>
                            <li class="how-bor1 p-rl-5 p-tb-10">
                                    <a routerLink="/careers" class="f1-s-5 cl11 hov-cl10 trans-03" >Careers </a>
                                </li>
                        </ul> -->
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">
                                Category
                            </h5>
                        </div>

                        <ul class="m-t--12">
                            <li class="how-bor1 p-rl-5 p-tb-10" *ngFor="let category of categoryList">
                                <a [routerLink]="['/news-category']" [queryParams]="{categoryId: category.CategoryId}"
                                    class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                    {{category.CategoryName}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg11">
            <div class="container size-h-4 flex-c-c p-tb-15">
                <span class="f1-s-1 cl0 txt-center">
                    Copyright © 2019

                    <a href="#" class="f1-s-1 cl10 hov-link1">kaizen.</a>

                    All rights reserved.
                </span>
            </div>
        </div>
    </footer>
    <!-- (click)="gotoTop()" -->
    <!-- Back to top -->
    

    <!-- <script>
            function fbs_click(TheImg) {
            u=TheImg.src;
            // t=document.title;
           t=TheImg.getAttribute('alt');
           window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;
       }
       </script> -->

    <!-- Modal Video 01-->
    <!-- <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
       <div class="modal-dialog" role="document" data-dismiss="modal">
           <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

           <div class="wrap-video-mo-01">
               <div class="video-mo-01">
                   <iframe src="https://www.youtube.com/embed/wJnBTPUQS5A?rel=0" allowfullscreen></iframe>
               </div>
           </div>
       </div>
   </div> -->
</div>


