@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
    
  }
  .tcontainer{
    width: 100%;
    overflow: hidden;
  }
  .ticker-wrap {
    width: 100%;
    padding-left: 100%;
    background-color: #eaeaea;
    font-size: 17px;
    padding: 5px 0;
    color: #111;
  }
  .ticker-move {
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 60s;
  }
  .ticker-move:hover{
    animation-play-state: paused;
  }
  .ticker-item{
    display: inline-block;
    padding: 0 2rem;
  }
  .ticker-item a {
    cursor: pointer;
  }
  .tp-form {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }
.SetPadding{
  padding-right:5px ;
  padding-left: 5px 
}

.SetPaddingTop{
  padding-top: 20px !important
}
.CursorPointer{
  cursor: pointer;
  color: #222 !important;
}
.wheat{
  color:wheat
}


/* Search Bar */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* Search */
/* .search-form {
  position: absolute;
  transform: translate(-50%);
} */

.input-group.search-group {
    height: 50px;
    min-width: 50px;
    position: relative;
}

.input-group .form-control:hover, 
.input-group .form-control:focus {
    padding: 10px 10px;
    width: 250px;
    color: #000;
    cursor: auto;
    background-color: rgba(231, 231, 230, 0.651);
}

.input-group .form-control::-moz-placeholder {
    color: transparent;
}

.input-group .form-control::-webkit-input-placeholder {
    color: transparent;
}

.input-group .form-control:hover::-moz-placeholder,
.input-group .form-control:focus::-moz-placeholder { 
    color: #ddd;
}
.input-group .form-control:hover::-webkit-input-placeholder,
.input-group .form-control:focus::-webkit-input-placeholder { 
    color: #ddd;
}

.input-group .form-control:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-color: #e6e6e6;
}

.form-control.search-control {
  background: url(https://milansavov.com/img/zoom.svg) no-repeat right 15px center / 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  color: transparent;
  font-size: 14px;
  width: 40px;
  height: 35px;
  margin: 7px 0px;
  padding: 0;
  outline: 0 none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  cursor: pointer;
  -webkit-backface-visibility: hidden;

  transition: width 0.25s;
}