<style>
    .marqee-vertical {
        background: #000000;
        padding: 0 20px;
        height: 335px;
        overflow: hidden;
    }

    .marqee-vertical a {
        color: #fff;
        cursor: pointer;
    }


    .marqee-vertical li {
        padding: 10px 0;
        font-size: 18px;
    }

    .marqee-vertical a>i {
        color: red;
        padding-right: 15px;
    }

    .marqee-header {
        background: #000000;
        padding: 13px 42px;
        font-size: 20px;
        font-weight: bold;
        color: #ffff;
    }
    .CursorPointer{
        cursor:pointer;
        color: #ffff;
    }


    .carousel-control-next, .carousel-control-prev{
        width: 50px;
        background: #0000001f;
    }


    .marquee {
    position: relative;
    width: 100%;
    height: 335px;
    overflow: hidden;
    background: #000000;
    animation: marquee 5s linear infinite;
    }
    @keyframes marquee {
    0% {top: 8em}
    100% {top: -10em}
    }

    .marqee-vertical a :hover {
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
        animation-play-state: paused;
    }

    .f1-m-3 {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 1.25;
}

.video-slider ::ng-deep .ng-image-slider .ng-image-slider-container .main .main-inner .img-div .caption {
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    width: 100%;
    box-sizing: border-box;
}
</style>



<section class="bg0">
    <div class="container"> 
        <div class="row m-rl--1">
            <!-- <div class="col-md-6 p-rl-1 p-b-2" style="padding: 0px 1px;">

                <div class="marqee-header">
                   TOP NEWS
                </div>
                    
                    <marquee class="marqee-vertical" behavior="scroll" direction="up"
                    onmouseover="this.stop();" onmouseout="this.start();">
                    <ul>
                        <li style="color: transparent">test</li>
                        <li *ngFor="let latestNews of homeService.latestNewsList">
                                
                            <a  
                            href="/news-description?newsId={{latestNews.newsId}}" >
                             <i class="fa fa-forward" aria-hidden="true"></i> 
                            </a>
                        
                            <a  href="/news-description?newsId={{latestNews.newsId}}"
                             style="padding-left:10px; ">
                                
                               {{latestNews.NewsHeadLine}}
                            </a>
                        </li>
                    </ul>
                </marquee>
            </div> -->


 

            <div class="col-md-12 p-rl-1">
                <div class="row m-rl--1" *ngIf="homeService.sliderNewsList">
                    <div class="col-sm-6 p-rl-1 p-b-2" style="padding:1px"
                        *ngFor="let sliderNews of homeService.sliderNewsList">
                        <div class="bg-img1 size-a-5 how1 pos-relative CursorPointer"
                            [ngStyle]="{'background': 'url(https://admin.onebharathnews.tv/CategoryFiles/' + sliderNews.Newsthump  + ') no-repeat 0 0 / cover'}">

                            <a 
                            href="/news-description?newsId={{sliderNews.newsId}}"
                            class="dis-block how1-child1 trans-03"></a>

                            <div class="flex-col-e-s s-full p-rl-25 p-tb-20 CursorPointer">
                                <a 
                                href="/news-description?newsId={{sliderNews.newsId}}"
                                    class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
                                    {{sliderNews.CategoryName}}
                                </a>

                                <h3 class="how1-child2 m-t-14 CursorPointer">
                                    <a 
                                    href="/news-description?newsId={{sliderNews.newsId}}"
                                        class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
                                        {{sliderNews.HeadLine}}
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg0 p-t-10 p-b-10">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 p-b-20">
                <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
                    <div class="col-md-8">
                        <h3 class="f1-m-2 cl3 tab01-title">
                            Video News
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <a class="tab01-link f1-s-1 cl9 hov-cl10 trans-03" [routerLink]="['/news-video']"
                            style="float:right;cursor:pointer;">View All</a>
                    </div>
                </div>
                <div class="row p-t-35">
                        <!-- <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            <div class="carousel-item row no-gutters active">
                                <div *ngFor="let videoNews of homeService.videoNews | slice:0:4 ; let i = index"
                                    class="col-sm-3 p-r-25 p-r-15-sr991" style="float: left;padding: 5px;" >
                                    <div>
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="http://img.youtube.com/vi/{{videoNews.videoId}}/0.jpg" alt="IMG">
                                            <button (click)="ifraVideo(i,videoNews.Link)" data-toggle="modal"
                                                data-target="#modal-video-01"
                                                class="s-full ab-t-l flex-c-c fs-32 cl0 hov-cl10 trans-03">
                                                <span class="fab fa-youtube"></span>
                                            </button>
                                        </div>
                                        <div class=" p-rl-25 bg3" style="padding-top:10px; min-height: 60px" >
                                            <h5 class="p-b-5 CursorPointer">
                                                <a (click)="ifraVideo(i,videoNews.Link)" data-toggle="modal"
                                                data-target="#modal-video-01" class="f1-m-3 cl0 hov-cl10 trans-03">
                                                    <span style="color:white"> {{ (videoNews.Title.length>50)? (videoNews.Title | slice:0:50)+'...':(videoNews.Title) }}</span>
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>                                
                            </div>    
                        </div>
                    </div>                     -->
                </div>
                <div class="video-slider">
                    <ng-image-slider [images]="SliderImages" [slideImage]="4" [infinite]="true" [imageSize]="imageSize"  #nav ></ng-image-slider>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Post -->
<section class="bg0 p-t-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="p-b-20">

                    <!-- National START-->

                    <div class="tab01 p-b-20" >
                            <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">
    
                                <h3 class="f1-m-2 cl13 tab01-title">
                                    National
                                </h3>
                                <ul class="nav nav-tabs" role="tablist">
                                </ul>
                                <a [routerLink]="['/news-category']" [queryParams]="{categoryId: 'national'}"
                                    class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
                                    View all
                                    <i class="fs-12 m-l-5 fa fa-caret-right"></i>
                                </a>
                            </div>
                            <div class="tab-content p-t-35">
                                <div class="tab-pane fade show active"  role="tabpanel">
                                    <div class="row">
                                        <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                            <div class="m-b-30">
                                                <a class="wrap-pic-w hov1 trans-03 CursorPointer" 
                                                href="/news-description?newsId={{NationalNewsList[0].newsId}}">
                                                      <img src="https://admin.onebharathnews.tv/CategoryFiles/{{NationalNewsList[0].Newsthump}}"
                                                        alt="IMG" style="max-height: 263px;max-width: 100%;">
                                                </a>
                                                <!-- [routerLink]="['/news-description']" [queryParams]="{newsId: NationalNewsList[0].NewsId, title: NationalNewsList[0].NewsHeadLine}" -->
                                                <div class="p-t-20">
                                                    <h5 class="p-b-5">
                                                        <a class="f1-m-3 cl2 hov-cl10 trans-03" 
                                                        href="/news-description?newsId={{NationalNewsList[0].newsId}}" >
                                                           {{ NationalNewsList[0].NewsHeadLine}}
                                                        </a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 p-r-25 p-r-15-sr991" >
                                            <div class="flex-wr-sb-s m-b-30"
                                                *ngFor="let national of NationalNewsList | slice:1:4">
                                                <a class="size-w-1 wrap-pic-w hov1 trans-03 CursorPointer"
                                                href="/news-description?newsId={{national.newsId}}">
                                                    <img src="https://admin.onebharathnews.tv/CategoryFiles/{{national.Newsthump}}"
                                                        alt="IMG" style="max-height: 75px;max-width:100%;">
                                                </a>
    
                                                <div class="size-w-2">
                                                    <h5 class="p-b-5">
                                                        <a class="f1-s-5 cl3 hov-cl10 trans-03"
                                                        href="/news-description?newsId={{national.newsId}}" >
                                                            {{national.NewsHeadLine}}
                                                        </a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- National END -->


                    <!-- Business -->
                    <div class="tab01 p-b-20" *ngFor="let category of homeService.categoryList">
                        <div class="tab01-head how2 how2-cl2 bocl12 flex-s-c m-r-10 m-r-0-sr991">

                            <h3 class="f1-m-2 cl13 tab01-title">
                                {{category.CategoryName}} 
                            </h3>
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#{{category.CategoryId}}ta"
                                        role="tab">All</a>
                                </li>

                                <li class="nav-item" *ngFor="let subcategory of category.SubCategoryJson | slice:0:2">
                                    <a class="nav-link" data-toggle="tab" href="#{{subcategory.SubCategoryId}}ta"
                                        role="tab">{{subcategory.SubCategoryName}}</a>
                                </li>

                                <li class="nav-item-more dropdown dis-none">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </a>

                                    <ul class="dropdown-menu">
                                    </ul>
                                </li>
                            </ul>
                            <a [routerLink]="['/news-category']" [queryParams]="{categoryId: category.CategoryId}"
                                class="tab01-link f1-s-1 cl9 hov-cl10 trans-03">
                                View all
                                <i class="fs-12 m-l-5 fa fa-caret-right"></i>
                            </a>
                        </div>
                        <div class="tab-content p-t-35">
                            <div class="tab-pane fade show active" id="{{category.CategoryId}}ta" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <div class="m-b-30"
                                            *ngIf="category.SubCategoryJson && category.AllNews">
                                            <a class="wrap-pic-w hov1 trans-03"
                                                 href="/news-description?newsId={{category.AllNews[0].newsId}}">
                                                <!-- [routerLink]="['/news-details?newsId='+category.SubCategoryJson[0].News[0].newsId]"> -->
                                                <img src="https://admin.onebharathnews.tv/CategoryFiles/{{category.AllNews[0].Newsthump}}"
                                                    alt="IMG" style="max-height: 263px;max-width: 100%;">
                                            </a>

                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a class="f1-m-3 cl2 hov-cl10 trans-03"
                                                    href="/news-description?newsId={{category.AllNews[0].newsId}}">
                                                        {{category.AllNews[0].NewsHeadLine}}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991" *ngIf="category.AllNews">
                                        <div class="flex-wr-sb-s m-b-30"
                                            *ngFor="let subcategory of category.AllNews | slice:1:4">
                                            <a class="size-w-1 wrap-pic-w hov1 trans-03 CursorPointer"
                                            href="/news-description?newsId={{subcategory.newsId}}"

                                               >
                                                <img src="https://admin.onebharathnews.tv/CategoryFiles/{{subcategory.Newsthump}}"
                                                    alt="IMG" style="max-height: 75px;max-width:100%;">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a class="f1-s-5 cl3 hov-cl10 trans-03"
                                                    href="/news-description?newsId={{subcategory.newsId}}"
                                                  >
                                                        {{subcategory.NewsHeadLine}}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="category.SubCategoryJson">
                                    <div class="col-12" *ngIf="category.SubCategoryJson.length > 4">
                                        <a class="tab01-link f1-s-1 cl9 hov-cl10 trans-03"
                                            [routerLink]="['/news-category']"
                                            [queryParams]="{categoryId: category.CategoryId}"
                                            style="float:right;cursor:pointer; padding: 0px 10px;">View All</a>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let subcategory of category.SubCategoryJson" class="tab-pane fade"
                                id="{{subcategory.SubCategoryId}}ta" role="tabpanel">

                                <div class="row" *ngIf="subcategory.News">
                                    <div class="col-sm-6 p-r-25 p-r-15-sr991"
                                        *ngFor="let news of subcategory.News| slice:0:1; let i = index">

                                        <div class="m-b-30">
                                            <a class="wrap-pic-w hov1 trans-03 CursorPointer"
                                            href="/news-description?newsId={{subcategory.News[0].newsId}}"
                                    
                                                >
                                                <img src="https://admin.onebharathnews.tv/CategoryFiles/{{subcategory.News[0].Newsthump}}"
                                                    alt="IMG" style="max-height: 263px;max-width:100%;">
                                            </a>
                                            <div class="p-t-20">
                                                <h5 class="p-b-5">
                                                    <a 
                                                    href="/news-description?newsId={{subcategory.News[0].newsId}}"
                                                        class="f1-m-3 cl2 hov-cl10 trans-03">
                                                        {{subcategory.News[0].NewsHeadLine}}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6 p-r-25 p-r-15-sr991">
                                        <div class="flex-wr-sb-s m-b-30"
                                            *ngFor="let news of subcategory.News | slice:1:4">
                                            <a class="size-w-1 wrap-pic-w hov1 trans-03"
                                         
                                                href="/news-description?newsId={{news.newsId}}">
                                                <img src="https://admin.onebharathnews.tv/CategoryFiles/{{news.Newsthump}}"
                                                    alt="IMG" style="max-height: 75px;max-width:100%;">
                                            </a>

                                            <div class="size-w-2">
                                                <h5 class="p-b-5">
                                                    <a class="f1-s-5 cl3 hov-cl10 trans-03"
                                                    href="/news-description?newsId={{news.newsId}}">
                                                        {{news.NewsHeadLine}}
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="subcategory.News">
                                    <div class="col-12" *ngIf="subcategory.News.length > 4">
                                        <a class="tab01-link f1-s-1 cl9 hov-cl10 trans-03"
                                            [routerLink]="['/news-subcategory']"
                                            [queryParams]="{subcategoryId: subcategory.SubCategoryId}"
                                            style="float:right;cursor:pointer;">View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-lg-4">
                <div class="p-l-10 p-rl-0-sr991 p-b-20">
                    
            
                    <div >
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Stay Connected
                            </h3>
                        </div>
                        <!-- <div>
                            <ul class="p-t-35" style="height: 500px; overflow-y: scroll;">
                                <a class="twitter-timeline" href="https://twitter.com/news_bharath?ref_src=twsrc%5Etfw">Tweets by news_bharath</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
                            </ul>
                        </div>   -->
                    </div>
                    
                    <div class="p-t-50 flex-c-s p-t-8">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOne-Bharath-News-389976705062474%2F&tabs=timeline&width=335&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="340" height="500" style="border:none;overflow:hidden" 
                        scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div> 

                    <div class="p-t-50">
                        <a *ngFor="let add of homeService.advertisementList">
                            <a *ngIf="add.Name == 'two'" href="{{add.Link}}" target="_blank"
                                style="cursor: pointer;"><img src="{{imageUrlPath + 'common/' + add.ImagePath}}" alt="IMG"
                                    style="max-height:600px;max-width: 300px;"></a>
                        </a>
                    </div>


                    <div class="p-t-50">
                        <div class="how2 how2-cl4 flex-s-c">
                            <h3 class="f1-m-2 cl3 tab01-title">
                                Most Popular
                            </h3>
                        </div>

                        <ul class="p-t-35">
                            <li class="flex-wr-sb-s p-b-22" *ngFor="let popular of PopularNews; let i = index ">
                                <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                    {{i +1}}
                                </div>
                                <a href="{{popular.Link}}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                        {{popular.Title}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg0 p-t-10 p-b-10" *ngIf="homeService.articles">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-12 p-b-20">
                <div class="how2 how2-cl4 flex-s-c m-r-10 m-r-0-sr991">
                    <div class="col-md-8">
                        <h3 class="f1-m-2 cl3 tab01-title">
                            Latest Article
                        </h3>
                    </div>
                    <div class="col-md-4">
                            <!-- *ngIf="homeService.articles && homeService.articles.length > 12" -->
                        <!-- [routerLink]="['/news-subcategory']" [queryParams]="{subcategoryId: subcategory.SubCategoryId}" -->
                        <a 
                            class="tab01-link f1-s-1 cl9 hov-cl10 trans-03" [routerLink]="['/news-article']"
                            style="float:right;cursor:pointer;">View All</a>
                    </div>
                </div>

                <div class="row p-t-35">
                    <div class="col-sm-3 p-r-25 p-r-15-sr991" *ngFor="let article of homeService.articles | slice:0:12">
                        <div class="m-b-45">
                            <a (click)="gotoArticle(article)" style="cursor: pointer"
                                class="wrap-pic-w hov1 trans-03">
                                <img src="{{imageUrlPath+'article/'+article.Newsthump}}" alt="IMG" height="150" width="250">
                            </a>
                            <!-- [routerLink]="['/article-description']" [queryParams]="{newsId: article.newsId}" -->
                            <div class="p-t-16">
                                <h5 class="p-b-5">
                                    <a (click)="gotoArticle(article)" 
                                        class="f1-m-3 cl2 hov-cl10 trans-03">
                                        {{article.HeadLine}}
                                    </a>
                                </h5>

                                <span class="cl8">

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div>
    <div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document" (click)="videopopup()" data-dismiss="modal">
            <div class="close-mo-video-01 trans-0-4" (click)="videopopup()" data-dismiss="modal" aria-label="Close">&times;</div>

            <div class="wrap-video-mo-01">
                <div id="iframeVideo" class="video-mo-01" style="opacity:1;">
                    <!-- <iframe width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
                                </iframe> -->
                    <!-- <iframe  id="if1" width="100%" height="254" style="visibility:visible" src="{{homeService.videoNews[0].Link | safe}}" ></iframe> -->
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let videoNews of homeService.videoNews;let i = index;">

    </div>
</div>
