
<!-- Content -->
<section class="bg0 p-b-140 p-t-10">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8 p-b-30">
				<div class="p-r-10 p-r-0-sr991">
					<!-- Blog Detail -->
					<div *ngIf="newsDetails.length > 0" class="p-b-70">
						<a href="#" class="f1-s-10 cl2 hov-cl10 trans-03 text-uppercase">
							{{newsDetails[0].nCategoryName}}
						</a>

						<h3 class="f1-l-3 cl2 p-b-16 p-t-33 respon2" [innerHTML]="newsDetails[0].HeadLine"></h3>

						<div class="flex-wr-s-s p-b-40">
							<span class="f1-s-3 cl8 m-r-15">
								<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
									by	{{newsDetails[0].CreatedName}}
								</a>

								<span class="m-rl-3">-</span>

								<span>
									{{newsDetails[0].Date | date}}
								</span>
							</span>

							<!-- <span class="f1-s-3 cl8 m-r-15">
								{{newsDetails[0].viewCount}} Views
							</span>

							<a href="#" class="f1-s-3 cl8 hov-cl10 trans-03 m-r-15">
								0 Comment
							</a> -->
						</div>
						<div class="wrap-pic-max-w p-b-30">
							<img src="https://admin.onebharathnews.in/CategoryFiles/{{newsDetails[0].ImageThumb}}" alt="IMG">
						</div>

						<div class="wrap-pic-max-w p-b-30" [innerHTML]="DetailedNews | SafePipe">

						</div>

						<!-- Share -->
						<div class="flex-s-s">
							<span class="f1-s-12 cl5 p-t-1 m-r-15">
								<b>Share:</b>
							</span>
							<div class="flex-wr-s-s size-w-0">

								<share-buttons theme="moon" [include]="['facebook','twitter','whatsapp']"
								[title]="newsDetails[0].HeadLine"
 								[description]="newsDetails[0].HeadLine"></share-buttons>

								<!-- <div class="socialshare">
										<fb-like url={{ShareUrl}}></fb-like>
								</div>
								<div class="socialshare">
										<tweet url={{ShareUrl}} text="etes"></tweet>
								</div>
								<div class="socialshare" >
										<pin-it url={{ShareUrl}} media="http://onebharathnews.in/assets/newsLogo2.png" description="One Bharath News Blog"></pin-it>							
								</div> -->
								<!-- <button class="fa fa-whatsapp">share</button> -->
								<!-- <a href="https://web.whatsapp.com/send?text=http://www.onebharathnews.in" data-text="Take a look at this awesome website:" class="wa_btn wa_btn_s " ><i class="">Share</i></a> -->
								<!-- <a href="whatsapp://send?text=http://www.onebharathnews.in" data-action="share/whatsapp/share">Share via Whatsapp</a> -->
							</div>
						</div>
					</div>
					<div *ngIf="CommentsList && CommentsList.length > 0">

						<div *ngFor="let comments of CommentsList">
							<div>{{comments.Description}}</div>
							<div><small> {{comments.CommentBy}}</small>  <small> commented on {{comments.CommentDate | date }}</small></div>
						</div>
					</div>

					<!-- Leave a comment -->
					<div>
						<h4 class="f1-l-4 cl3 p-b-12">
							Leave a Comment
						</h4>

						<form [formGroup]="CommentsForm" >
							<textarea class="bo-1-rad-3 bocl13 size-a-15 f1-s-13 cl5 plh6 p-rl-18 p-tb-14 m-b-20"
								formControlName="Description" name="Description" placeholder="Comment..."></textarea>

							<input class="bo-1-rad-3 bocl13 size-a-16 f1-s-13 cl5 plh6 p-rl-18 m-b-20" type="text"
							formControlName="CommentBy" name="CommentBy" placeholder="Name*">


							<input type="button" (click)="SaveComments()" value ="Post Comment" class="size-a-17 bg2 borad-3 f1-s-12 cl0 hov-btn1 trans-03 p-rl-15 m-t-10"  />
								
						</form>
					</div>
				</div>
			</div>

			<!-- Sidebar -->
			<div class="col-md-10 col-lg-4 p-b-30">
				<div class="p-l-10 p-rl-0-sr991 p-t-70">
					<!-- Category -->
					<!-- <div class="p-b-60">
						
						<div class="how2 how2-cl4 flex-s-c">
							<h3 class="f1-m-2 cl3 tab01-title">
								Category
							</h3>
						</div>

						<ul class="p-t-35">
							<li class="how-bor3 p-rl-4" *ngFor="let category of categoryList">
								<a [routerLink]="['/news-category']" [queryParams]="{categoryId: category.CategoryId}"
									class="dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
									{{category.CategoryName}}
								</a>
							</li>						
						</ul>
					</div> -->

					<div class="p-t-60">
							<div class="how2 how2-cl4 flex-s-c">
									<h3 class="f1-m-2 cl3 tab01-title">
										Stay Connected
									</h3>
								</div>
							<ul class="p-t-35" style="height: 500px; overflow-y: scroll;">
								<a class="twitter-timeline" href="https://twitter.com/news_bharath?ref_src=twsrc%5Etfw">Tweets by news_bharath</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
							</ul>
						</div>

					<!-- Archive -->
					<div class="p-b-37">
						<!-- <div class="how2 how2-cl4 flex-s-c">
							<h3 class="f1-m-2 cl3 tab01-title">
								Archive
							</h3>
						</div> -->

							<div class="p-t-50">
								<a *ngFor="let add of homeService.advertisementList">
									<a *ngIf="add.Name == 'two'" href="{{add.Link}}" target="_blank"
										style="cursor: pointer;"><img src="{{imageUrlPath + 'common/' + add.ImagePath}}" alt="IMG"
											style="max-height:600px;max-width: 300px;"></a>
								</a>
							</div>

						<!-- <ul class="p-t-32">
							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										July 2018
									</span>

									<span>
										(9)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										June 2018
									</span>

									<span>
										(39)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										May 2018
									</span>

									<span>
										(29)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										April 2018
									</span>

									<span>
										(35)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										March 2018
									</span>

									<span>
										(22)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										February 2018
									</span>

									<span>
										(32)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										January 2018
									</span>

									<span>
										(21)
									</span>
								</a>
							</li>

							<li class="p-rl-4 p-b-19">
								<a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
									<span>
										December 2017
									</span>

									<span>
										(26)
									</span>
								</a>
							</li>
						</ul> -->
						<div class="p-t-32">
							<input type="text" matInput style="min-width: 150px; max-width: 300px;background: aliceblue;"
							ngxDaterangepickerMd
							[locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
							startKey="start"
							endKey="end"
							[(ngModel)]="selected"
							name="daterange"
							(ngModelChange)="change($event)" />
						</div>
					</div>

					<!-- Popular Posts -->
					<div class="p-b-30">
						<div class="how2 how2-cl4 flex-s-c">
							<h3 class="f1-m-2 cl3 tab01-title">
								Stay Connected
							</h3>
						</div>

						<ul class="p-t-35">
							<div class="flex-c-s p-t-8">
								<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOne-Bharath-News-389976705062474%2F&tabs=timeline&width=335&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
									width="340" height="500" style="border:none;overflow:hidden" 
								scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
							</div> 
						</ul>
					</div>

					<!-- Tag -->
					<div>
						<div class="how2 how2-cl4 flex-s-c m-b-30">
							<h3 class="f1-m-2 cl3 tab01-title">
								Tags
							</h3>
						</div>

						<div class="flex-wr-s-s m-rl--5" *ngIf="newsDetails.length > 0">	
							<div *ngFor="let tag of newsDetails[0].HashTags">				
							<a  *ngIf="tag != ''"  [routerLink]="['/search-results']" [queryParams]="{ SearchTerm:tag, StartDate: '', EndDate:'' }"
								class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
								{{tag}}
							</a>
						</div>	
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>